nav {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: inherit;
  height: 60px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0 -3px 10px -1px #c9d7f5;

  .navLinkOn {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    padding: 4px;
    background-color: rgb(235, 235, 60);
    border-radius: 12px;

    svg {
      width: 38px;
      height: 38px;
      fill: #ffffff;
    }
  }

  .navLinkOff {
    svg {
      width: 38px;
      height: 38px;
      fill: #a8a8a8;
    }
  }
}
