@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Koulen&display=swap');

.mainSection {
  position: relative;
  width: 360px;
  height: 720px;
  background-color: #e9effb;
  border-radius: 40px;

  header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    height: 120px;
    padding: 30px 20px 0;
    background-color: #e9effb;
    border-radius: 40px 40px 0 0;

    h2 {
      margin: 0;
      font-family: 'Secular One, sans-serif'; // TODO font-family 좀 더 공부해서 수정하기
      font-weight: 900;
    }
  }

  main {
    box-sizing: border-box;
    display: flex;
    width: inherit;
    height: 540px;
    overflow-y: scroll;
    background-color: #e9effb;

    > ul {
      width: inherit;
      padding: 0;
      margin: 10px 0 0;
      list-style: none;
    }

    .empty {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: inherit;
      height: inherit;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .loading {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
  }
}
