.movieItem {
  position: relative;
  display: flex;
  width: inherit;
  height: 100px;
  margin: 50px 30px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 3px 10px 0 #c9d7f5;

  img {
    min-width: 90px;
    max-width: 90px;
    min-height: 120px;
    max-height: 120px;
    margin: -30px 10px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    transition: 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .moiveInfo {
    display: inline-block;
    width: 180px;
    padding: 20px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    > strong {
      font-size: 14px;
    }

    > p {
      margin: 10px 0;
      font-size: 12px;
      font-weight: bold;
      opacity: 0.6;
    }
  }

  > svg {
    position: absolute;
    top: calc(50% - 12px);
    right: 16px;
    width: 22px;
    height: 22px;
  }
}
