@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Koulen&display=swap');

section {
  width: 360px;
  height: 720px;
  // border: 1px solid black;
  border-radius: 40px;

  header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: inherit;
    height: 120px;
    padding: 30px 20px 0;
    background-color: rgb(247, 247, 247);
    border-radius: 40px 40px 0 0;

    h2 {
      margin: 0;
      font-family: 'Secular One, sans-serif'; // TODO font-family 좀 더 공부해서 수정하기
      font-weight: 900;
    }
  }

  main {
    box-sizing: border-box;
    display: flex;
    width: inherit;
    height: 540px;
    padding: 0 20px;
    overflow-y: scroll;
    background-color: rgb(247, 247, 247);
    transition: 0.5s;

    > ul {
      width: inherit;
      padding: 0;
      margin: 10px 0 0;
      list-style: none;
    }
  }

  .on {
    background-color: rgb(218, 181, 181);
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
