nav {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: inherit;
  height: 60px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 40px;

  .navLinkOn {
    svg {
      width: 28px;
      height: 28px;
      fill: #000000;
    }
  }

  .navLinkOff {
    svg {
      width: 28px;
      height: 28px;
      fill: #a8a8a8;
    }
  }
}
